/* ======== ESTILOS GENERALES ======== */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: #4c84af;
    text-align: center;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

/* ======== GALERÍA FLEX ======== */
.galeria-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
}

/* ======== GALERÍA GRID ======== */
.galeria-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 5px;
    justify-items: center;
}



/* ======== ESTILO DE LAS IMÁGENES ======== */
.galeria-flex img,
.galeria-grid img {
    width: 220px;
    height: 160px;
    object-fit: cover;

    border: 5px solid #ffffff;   /* ⭐ borde blanco individual */
    border-radius: 12px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    transition: transform 0.3s ease,
                box-shadow 0.3s ease;
}


/* ======== EFECTO HOVER ======== */
.galeria-flex img:hover,
.galeria-grid img:hover {
    transform: scale(1.07);
    box-shadow: 0 8px 20px rgba(0,0,0,0.35);
}
a{
    color: #ffffff;
}
.link-index:hover{
    color: black;
    text-decoration: underline;
}
.pet-card {
    width: 250px;              /* Tamaño fijo del conjunto */
    text-align: center;
    margin: 20px;
}

.pet-card img {
    width: 100%;               /* La imagen se adapta al contenedor */
    border-radius: 10px;
    border: 3px solid white;
}

.descripcion {
    margin-top: 10px;
    color: #333;
    font-size: 14px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

body {
    font-size: 16px; /* base */
}

h1, h2, h3 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
}


/* =======================
   BREAKPOINTS
======================= */

/* ----- Móviles (max 600px) ----- */
@media (max-width: 600px) {

    .nav {
        flex-direction: column;
        text-align: center;
    }

    .grid-proyectos {
        grid-template-columns: 1fr; /* 1 columna */
    }

    .galeria-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    }
}

/* ----- Tablets (601px a 900px) ----- */
@media (min-width: 601px) and (max-width: 900px) {

    .grid-proyectos {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    }

    .galeria-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    }
}

/* ----- Escritorio (más de 900px) ----- */
@media (min-width: 901px) {

    .grid-proyectos {
        grid-template-columns: repeat(3, 1fr);
    }

    .galeria-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}





